/* index.css */
:root {
    --azure-web: #fff; /* White */
    --super-dark: #0A0A0A; /* Black */
    --light-gray: #f0f0f0; /* Light gray */
    --medium-gray: #888; /* Medium gray */
    --dark-gray: #010101; /* Dark gray */
    --highlight-color: #d6d9dd; /* Highlight border color */
}

body {
    background: var(--super-dark);
    background-image: url("https://raw.githubusercontent.com/herniezz/ChronoTune/refs/heads/main/public/XZ5V.gif");
    background-size: cover;
    margin: 0;
    padding: 2rem;
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--azure-web);
}

/* Global resets or other utility classes */